/*font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

/*------------header CSS-------------------*/

#header {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(DSC_0593.JPG);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.user-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

.user-box img {
  border-radius: 50%;
  width: 250px;
  border: 2px solid #2b6622;
}

.user-box h1 {
  color: #fff;
  font-weight: bold;
  margin: 10px;
}

.user-box p {
  color: #fff;
}

.scroll-btn {
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #FFF;
  padding: 10px 10px 20px;
  border-radius: 30px;
}

.scroll-bar span {
  border: 2px solid #FFF;
  font: 10px;
  border-radius: 30px;
}

.scroll-bar {
  animation: mover 1s infinite alternate;

}

@@keyframes mover {
  0%{transform:translateY(0);}
  100%{transform:translateY(10px);}
}

img {
    max-width: 600px;
    width: 100%;
}

/*-------------ABOUT-------------*/
.about {
  padding-top: 100px;
  padding-bottom: 50px;
}

.profile-img {
  height: 400px;
}

.nav-bar {
  top: 0;
  position: sticky;
  z-index: 2;
}

.navbar {
  background: #FFF;
}

.nav-bar .fa-bars {
  color: #000;
  font-size: 35px;
}

.navbar-toggler {
  outline: none !important;
}

.navbar-nav {
  float:right;
  text-align: right;
}

.nav-link {
  color: #FFF !important;
}

.resume {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #e6dfdf;
}

.resume h2 {
  margin-bottom: 50px;
  
}

.center-top-content {
  margin-top: 0;
  margin-bottom: 20px; /*controls spacing between div and photo*/
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  text-align: center;
  border-bottom: 1px solid grey;
}

.personal-title {
  font-weight: bold;
  color: grey;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
}

h1 {
    color: #33485e;
    margin-bottom: 0;
}

h2 {
  background-color: #33485e;
  padding: 5px;
  color: white;
}

h4, h5 {
  font-weight: 400px;
}

h5 {
  font-style: italic;
}

.resume h2, .resume h3, .resume h4,
.resume h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#nav-links {           /*use id to select specific tag when it is used more than once. id=UNIQUE to ONE element*/
  max-width: 400px;
  margin: 0 auto 20px;     /*top right bottom left OR top/bottom left/right*/
  padding-left: 0;
}

#nav-links li {
  display: inline-block; /*removes bullets and puts on same line*/
}

#nav-links > li:not(:last-child)::after{
  content:"|";                            /*adds "|" between links instead of bullets*/
  margin; 0.25em;
}

.main-content {
  width: 80%;   /* % make it more adaptive with the page*/
  margin: 0 auto;
  flex: 30%;
  padding:inherit;
}

.introduction {
  line-height: 1.8;
  overflow: auto;
}

.introduction img {
  float: right;
  width: 40%;
  margin-top: 16px;
  margin-left: 20%;
  margin-bottom: 20px;
}

.highlight {        /*added class to css before html so it can be used anywhere class is used */
  background-color: #33485e;
  padding: 3px 5px;
  color: white;
  font-weight: bold;
}

.school {
  font-style: italic;
}

/* Change color on hover */
#nav-links a:hover {
  color: black;
}

/*column container*/
.main-content{
  display: flex;
  flex-wrap: wrap;
}

/*small column*/
.introduction {
  flex: 30%;
  padding:inherit;
}

/*big column*/
.container-content {
  flex: 70%;
  padding: inherit;
}

/*media query- when screen is less than 700px, two
columns will stack on top of eachother instead of next to each other*/
@media (max-width: 700px) {
  .row, #nav-links {
    flex-direction: column;
  }
}
