/*font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;*/

img {
    max-width: 600px;
    width: 100%;
}

body {
  max-width: 800px; /*defines how big you want the text to be no matter the browser size*/
  margin: 20 auto; /*text align is NOT what we want. text align does not center the entire container. we want it to center only the container*/
  /*20= top and bottom margins. auto= left and right*/
  font-family: 'Merriweather', serif;
}

.center-top-content {
  margin-top: 0;
  margin-bottom: 20px; /*controls spacing between div and photo*/
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  text-align: center;
  border-bottom: 1px solid grey;
}

.personal-title {
  font-weight: bold;
  color: grey;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
}

h1 {
    color: #33485e;
    margin-bottom: 0;
}

h2 {
  background-color: #33485e;
  padding: 5px;
  color: white;
}

h4, h5 {
  font-weight: 400px;
}

h5 {
  font-style: italic;
}

.container-experience h2, .container-experience h3, .container-experience h4,
.container-experience h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#nav-links {           /*use id to select specific tag when it is used more than once. id=UNIQUE to ONE element*/
  max-width: 400px;
  margin: 0 auto 20px;     /*top right bottom left OR top/bottom left/right*/
  padding-left: 0;
}

#nav-links li {
  display: inline-block; /*removes bullets and puts on same line*/
}

#nav-links > li:not(:last-child)::after{
  content:"|";                            /*adds "|" between links instead of bullets*/
  margin; 0.25em;
}

.main-content {
  width: 80%;   /* % make it more adaptive with the page*/
  margin: 0 auto;
}

.introduction {
  line-height: 1.8;
  overflow: auto;
}

.introduction img {
  float: right;
  width: 40%;
  margin-top: 16px;
  margin-left: 20%;
  margin-bottom: 20px;
}

.highlight {        /*added class to css before html so it can be used anywhere class is used */
  background-color: #33485e;
  padding: 3px 5px;
  color: white;
  font-weight: bold;
}

.school {
  font-style: italic;
}
